*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.container{
    margin: 20px 50px;
}
#main-nav{
    display: inline-block;
}
#main-header li{
    display: inline-block;
    margin: 0 10px;
}
#button .fas{
    visibility: hidden;
    cursor: pointer;
}
.about-article-container{
    display: flex;
    justify-content: space-between;
}
.cont{
    max-width: 100%;
}
.cont img{
    width: 100%;
    height: 100%;
}
.about-article-paragraph{
    margin-left: 30px;
}
.about-article-paragraph p{
    font-size: 20px;
    margin: 10px 0;
}

#about-sec{
    display: flex;
    justify-content: space-between;
}
.cards{
    box-shadow: -1px 0px 8px 0px grey;
    overflow: hidden;
    border-radius: 10px;
}
.cards-content{
    margin: 20px;
    text-align: center;
}
.cards-content p{
    margin-top: 12px;
}
#unique{
    margin: 0 20px;
}
.mobile-nav{
    position: absolute;
    top: 0;
    right: 0px;
    width: 250px;
    background-color: dodgerblue;
    height: 1000vh;
}
.mobile-nav li{
    text-align: center;
    list-style: none;
    margin: 10px 0;
}
.mobile-nav li a{
    color: white;
    text-decoration: none;
}
@media(max-width: 768px){
    .about-article-container{
        flex-direction: column;
    }
    .about-article-paragraph{
        margin-top: 30px;
    }
    #about-sec{
        display: block;
    }
    #unique{
        margin: 20px 0px;
    }
}
@media(max-width: 425px){
    #main-nav ul{
        display: none;
    }
    #button .fas{
        visibility: visible;
    }

}
/* #logo{
    line-height: 50px;
    display:inline-block;
    color:  #596c6f;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
#main-nav{
    display:inline-block;
    line-height: 50px;
    width: 70%;
} */


/* .h2 {
    width: 200px;
    margin-top: 0%;
    text-align: center;
}
#main-nav li{
    list-style: none;
    display: inline-block;
}
#main-nav li a{
    text-decoration: none;
    color: #92d5e9;
    width: 50px;
    padding: 10px;
}
#main-nav li a:hover{
    border-radius: 20px;
    background-color:#1d6b74;
}
#main-nav li a:active{
    border-radius: 20px;
    background-color:#e6fcff;
}
/* #main-nav ul{
    display: inline-block;
    width: 100%;
    text-align: right;
} */

#anthem{
    font-weight: 700;
    text-align: center;
    width: 100%;
}